body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

.container-style{
    display: flex;
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

.first-column-style{
    border: 1px solid black;
    width: 200px;
}

.middle-column-style {
    border: 1px solid black;
    display: flex; /* to use flex property */ 
    flex-direction: column; /*  stretch dropdown for activate scroll bar */
    min-width: 100px;  /* minimun */
    flex: 1;  /* expand */
}

.middle-column-style > div{
    overflow: hidden;
}

.middle-column-style > div > select {
    width: 100%;
}

.last-column-style{
    border: 1px solid black;
    width: 300px;
}

input{
    width:100px;
}

@media screen and (max-width: 600px) { 
    .middle-column-style{
        overflow-x: scroll; /* < 600 = scroll */
    }

    .middle-column-style > div {
        min-width: 600px;
    }
    
    

}
